@media screen and (max-width:500px) {
    #layout{
        display: grid;
        height: fit-content;
        
        
       
         
     
    }
    #layout nav{
        left: -120%;
        position: absolute;
        width: 100%;
        height: 100vh;
        z-index: 2;
    }
    #layout  #greeting #burger {
        display: block;
        cursor: pointer;
        font-size: 1.2rem;

    }
    
    #layout nav h1{
        font-size: 0.7rem;
        
    }
    #layout nav ul li{
           font-size:0.5rem ;
    }
    #layout #manager i{
     
         
        font-size: 0.7rem;
    
    }
    #layout #manager #details p{
        font-size: 0.2rem;
    }
    #layout #manager #details  h3{
        font-size: 0.3rem;
    }
     #greeting h3{

        font-size: 0.5rem;
    }
    #greeting {
        justify-content: space-around;
        width: 80%;
        margin: 0 auto;
        align-items: center;
        
        
    }
      #greeting label #search{
        height: 5px;
          width: 80%;
          font-size: 0.5rem;
    }
    #greeting label i{
        font-size: 0.5rem;
    }
    #layout #layout2{
        display: grid;
        width: 90vw;
        background-color: rgba(231, 227, 227, 0.938);
        height: fit-content;
       
        
        padding: 0.5rem;
    }
    #layout #layout2 #fourguys  {
        margin: 1rem auto;
        
        display: grid;
        gap: 0.5rem;
       
        width: 85%;
        grid-template-columns: 1fr 1fr;
        justify-content: space-around;
        
    }
    #layout #layout2 #fourguys #box{

        width: 90%;
        height: 25vh;
       
    }
    #layout #layout2 #fourguys #box #inner-box h3 {
        font-size: 0.8rem;
    }
    #layout #layout2 #fourguys #box #inner-box p {
        font-size: 0.7rem;
        font-weight:700;
        
    }
    #layout #layout2 #fourguys #box #inner-box p span i{
        font-size: 0.7rem;
    }
    #layout #layout2 #fourguys #box #inner-box:nth-child(1) i{
        font-size: 1.5em;
      
         
    
    }


    #layout #layout2 #twoguys #overview #bars #month{
        font-size: 0.3rem;
    }
    #layout #layout2 #twoguys {
         
      margin-left: -25vw;
        height: 100vh;
        display: grid;
       align-items: center;
        
       
      
        
       
       
      
        
      
        
    }
    #layout #layout2  #twoguys #overview{
        height: fit-content;
        padding: 3px;
        width: 60vw;
        
        transform: translateX(190px);
        
        
         
    }
    #layout #layout2 #twoguys #overview #bars .bar{
        width: 0.8rem;
    }
     
     
    #layout #layout2  #twoguys #overview h3{
            font-size: 0.5rem;

    }
    #layout #layout2  #twoguys #overview p{
            font-size: 0.6rem;

     }
     #layout #layout2  #twoguys #overview #sel{
        font-size: 0.7rem;
     }
     #layout #layout2  #twoguys #overview #bars #month{
        font-size: 0.7rem;
     }
     
    #layout #layout2 #twoguys #customers{
             
         
             height:30vh ;
             width: 50%;
             margin-left: 240px;
             
           
               
             
               
                
    }
        #layout #layout2 #twoguys #customers h3 {
              font-size: 0.5rem;
    }
        #layout #layout2 #twoguys #customers p{
            font-size: 0.4rem;
    }
    
     #layout #layout2  #twoguys #customers #circle{
        height: 100%;
     }
     #layout #layout2  #twoguys #customers #circle #circle1 #circle2 h6{
        font-size: 0.456rem;
        margin-bottom: -4vh;
    }
    #layout #layout2 #twoguys #customers #circle #circle1 #circle2 #colordiv{
        width: 100%;
    }
    #layout #layout2 #oneguy{
        background-color: rgba(231, 227, 227, 0.938);
        
        
        padding:4px;
          width:101vw;
          margin: -5%;
          margin-left: -10vh;

      
        
    }
    #layout #layout2 #oneguy #product{
        width:60%;
        margin: 10px auto;


    }
    #layout #layout2 #oneguy #product h3{
        font-size: 0.5rem;
    }
    #layout #layout2  #oneguy #product #search{
       
        font-size: 0.5rem;
        width: 30%;
        height: 20%;
       
        
       
        
    }
    #layout #layout2  #oneguy #product #option{
        width: 40%;
       
    }
    #layout #layout2  #oneguy #product #option select{
        width: 70%; height: 90%;
        font-size: 0.4rem;

        
        }

    #layout #layout2  #oneguy #container{
        width:60%;
        margin: 0 auto;
    }
    #layout #layout2  #oneguy #container #cols  #name p{
        font-size: 0.5rem;
    }
    #layout #layout2  #oneguy #container #cols #list ul li{
        font-size: 0.4rem;
    }
    #layout #layout2 #oneguy #container #rows  #name p{
        font-size: 0.5rem;
    }
    #layout #layout2  #oneguy #container #rows #list ul li{
        font-size: 0.5rem;
    }

   
     
    
}
